@using JETech.JEDayCare.Web.Models.Client
@model AddClientViewModel

@{ViewData["Title"] = "New Child"; }

<div class="card shadow mb-4">
    <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
        <h5 class="title-form">@(ViewData["Title"])</h5>
    </div>
    <div class="widget-container">
        <div id="div-loadPanel" class="form-container">
            <form id="clientForm" asp-action="Create" asp-controller="ClientMant" method="post">
                @(Html.DevExtreme().Form<AddClientViewModel>()
                .ID("formDev")
                .ColCount(2)
                .MinColWidth(300)
                .LabelLocation(FormLabelLocation.Left)
                .ShowColonAfterLabel(true)
                //.ShowValidationSummary(true)
                .Items(items =>
                {
                    items.AddGroup()
                        .Items(items =>
                        {
                            items.AddSimpleFor(m => m.FirstNameChild);
                            items.AddSimpleFor(m => m.BirthDateChild)
                            .Editor(e => e
                               .DateBox()
                               .Width("30%"));
                            items.AddEmpty();
                        });
                    items.AddGroup()
                        .Items(items =>
                        {
                            items.AddSimpleFor(m => m.LastNameChild);
                        });
                })
                .Items(items =>
                {
                    items.AddGroup()
                        .Caption("Tutor Information")
                        .Items(items =>
                        {
                            items.AddSimpleFor(m => m.FirstName);
                            items.AddSimpleFor(m => m.LastName);
                            items.AddSimpleFor(m => m.Email)
                            .Editor(e => e
                                .TextBox()
                                .Width("50%"));
                            items.AddSimpleFor(m => m.CellPhone)
                            .Editor(e => e
                                .TextBox()
                                .Width("30%"));
                            items.AddSimpleFor(m => m.HomePhone)
                            .Editor(e => e
                                .TextBox()
                                .Width("30%"));
                        });
                    items.AddGroup()
                        .Caption("Address")
                       .Items(items =>
                       {
                           items.AddSimpleFor(m => m.Address);
                           items.AddSimpleFor(m => m.ContryId)
                            .Editor(e => e
                               .SelectBox()
                               .ValueExpr("Id")
                               .DisplayExpr("Name")
                               //.DataSource(new JS("getContries(getContrieCallBack)")));
                               .DataSource(d => d.StaticJson().Url("~/api/ClientMantApi/Contries")));
                               //.DataSource(d => d.Mvc().LoadAction("GetContries")));
                           items.AddSimpleFor(m => m.City);
                           items.AddSimpleFor(m => m.State);

                           //items.AddSimpleFor(m => m.ZipCode)
                           //.Editor(e => e
                           // .TextBox()
                           // .Width("30%"));
                       });
                })
                .FormData(Model))
                <div id="div-final-action-form" class="row justify-content-md-center">
                    <div class="form-group col-lg-2 col-md-2 col-sm-12">
                        @(Html.DevExtreme().Button()
                            .Type(ButtonType.Success)
                            .OnClick("onClickSave")
                            .Text("Save")
                            .Icon("save"))
                     </div>
                    <div class="form-group col-lg-2 col-md-2 col-sm-12">
                        @(Html.DevExtreme().Button()                        
                            .Text("Cancel")
                            .OnClick(@<text>function () { window.location = "@Url.Action("Index", "ClientMant")"; }</text>))
                    </div>
                </div>
                @*<div class="row justify-content-center">
                    <div class="form-group col-lg-2 col-md-2 col-sm-12">
                        <input type="submit" value="Accept" class="btn btn-success" />
                    </div>
                </div>*@
            </form>
            @*<div class="row justify-content-md-center">
                    <div class="form-group col-lg-2 col-md-2 col-sm-12">
                        <input type="submit" value="Accept" class="btn btn-success btn-user btn-block" />
                    </div>
                    <div class="form-group col-lg-2 col-md-2 col-sm-12">
                        <a asp-action="Index" class="btn btn-secondary btn-user btn-block">Cancel</a>
                    </div>
                </div>*@
        </div>
    </div>
</div>

@(Html.DevExtreme().LoadPanel()
    .ID("loadPanel")
    .ShadingColor("rgba(0,0,0,0.4)")
    .Position(p => p.Of("#div-loadPanel"))
    .Visible(false)
    .ShowIndicator(true)
    .ShowPane(true)
    .Shading(true)
    .CloseOnOutsideClick(false)
    //.OnShown("loadPanel_shown")
    //.OnHidden("loadPanel_hidden")
    )

@section Scripts
{
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}

<script>

    function getLoadPanelInstance()
    {
        return $("#loadPanel").dxLoadPanel("instance");
    }

    function onClickSave() {
        if (confirm("Do you want to save the register ?")) {
            var loadPanel = getLoadPanelInstance();
            loadPanel.show();

            var dataModel = JSON.stringify(getFormData('#clientForm'));

            $.ajax({
                url: "https://localhost:44393/Api/ClientMantApi",
                dataType: "json",
                data: dataModel,
                contentType: 'application/json',
                type: 'post',
                success: function (result) {
                    if (result !== null && result.Data !== null && result.Data > 0) {
                        loadPanel.hide();

                        showNotification("Operation successful", 2 * 1000);

                        window.location = '@Url.Action("Index", "ClientMant")'
                    } else {
                        loadPanel.hide();
                        $("#formDev").dxForm('instance').validate();
                    }
                },
                error: function (error) {
                    //alert(JSON.stringify(error));
                    loadPanel.hide();
                }
            });
        }
    }

    function getFormData(name) {
        var unindexed_array = $(name).serializeArray();
        var indexed_array = {};

        $.map(unindexed_array, function (n, i) {
            indexed_array[n['name']] = n['value'];
        });
        return indexed_array;
    }    
</script>

@*
    <div>
        <h3>New Child</h3>

        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="row">
                <div class="form-group col-lg-6 col-md-6 col-sm-12">
                    <label asp-for="FirstName" class="control-label"></label>
                    <input asp-for="FirstName" class="form-control form-control-sm" />
                    <span asp-validation-for="FirstName" class="text-danger"></span>
                </div>
                <div class="form-group col-lg-6 col-md-6 col-sm-12">
                    <label asp-for="LastName" class="control-label"></label>
                    <input asp-for="LastName" class="form-control form-control-sm" />
                    <span asp-validation-for="LastName" class="text-danger"></span>
                </div>
            </div>
            <div class="row">
                <div class="form-group  col-lg-6 col-md-6 col-sm-12">
                    <label asp-for="TypeIdentityId" class="control-label"></label>
                    <select asp-for="TypeIdentityId" class="form-control form-control-sm">
                        <option>Choose...</option>
                        <option>Id</option>
                        <option>Passport</option>
                    </select>
                    <span asp-validation-for="TypeIdentityId" class="text-danger"></span>
                </div>
                <div class="form-group col-lg-6 col-md-6 col-sm-12">
                    <label asp-for="IdentityId" class="control-label"></label>
                    <input asp-for="IdentityId" class="form-control form-control-sm" />
                    <span asp-validation-for="IdentityId" class="text-danger"></span>
                </div>
            </div>
            <div class="row">
                <div class="form-group col-lg-4 col-md-4 col-sm-12">
                    <label asp-for="Email" class="control-label"></label>
                    <input asp-for="Email" class="form-control form-control-sm" />
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>
            </div>
            <div class="row">
                <div class="form-group col-lg-4 col-md-4 col-sm-12">
                    <label asp-for="HomePhone" class="control-label"></label>
                    <input asp-for="HomePhone" class="form-control form-control-sm" />
                    <span asp-validation-for="HomePhone" class="text-danger"></span>
                </div>
                <div class="form-group col-lg-4 col-md-4 col-sm-12">
                    <label asp-for="CellPhome" class="control-label"></label>
                    <input asp-for="CellPhome" class="form-control form-control-sm" />
                    <span asp-validation-for="CellPhome" class="text-danger"></span>
                </div>
                <div class="form-group col-lg-4 col-md-4 col-sm-12">
                    <label asp-for="Fax" class="control-label"></label>
                    <input asp-for="Fax" class="form-control form-control-sm" />
                    <span asp-validation-for="Fax" class="text-danger"></span>
                </div>
            </div>
            <div class="row">
                <div class="form-group col-lg-12 col-md-12 col-sm-12">
                    <label asp-for="Address" class="control-label"></label>
                    <input asp-for="Address" class="form-control form-control-sm" />
                    <span asp-validation-for="Address" class="text-danger"></span>
                </div>
            </div>
            <div class="row">
                <div class="form-group  col-lg-4 col-md-4 col-sm-12">
                    <label asp-for="City" class="control-label"></label>
                    <input asp-for="City" class="form-control form-control-sm" />
                    <span asp-validation-for="City" class="text-danger"></span>
                </div>
                <div class="form-group col-lg-4 col-md-4 col-sm-12">
                    <label asp-for="Contry" class="control-label"></label>
                    <select asp-for="Contry" class="form-control form-control-sm">
                        <option>Choose...</option>
                        <option>New York</option>
                        <option>San Diego</option>
                    </select>
                    <span asp-validation-for="Contry" class="text-danger"></span>
                </div>
                <div class="form-group col-lg-4 col-md-4 col-sm-12">
                    <label asp-for="ZipCode" class="control-label"></label>
                    <input asp-for="ZipCode" class="form-control form-control-sm" />
                    <span asp-validation-for="ZipCode" class="text-danger"></span>
                </div>
            </div>
            <div class="row justify-content-md-center">
                <div class="form-group col-lg-2 col-md-2 col-sm-12">
                    <input type="submit" value="Accept" class="btn btn-success btn-user btn-block" />
                </div>
                <div class="form-group col-lg-2 col-md-2 col-sm-12">
                    <a asp-action="Index" class="btn btn-secondary btn-user btn-block">Cancel</a>
                </div>
            </div>
        </form>
    </div>
*@




